<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="{{ path('home') }}">Guma</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('products_index')}}">Boutique</a>
				</li>

			</ul>
			<div class="container d-flex justify-content-end">
				<ul class="navbar-nav ">

					{% if app.user %}

						<li class="nav-item ">
							<a class="nav-link active" href="{{path('profile_index')}}">Mon Compte
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link active" href="{{path('app_logout')}}">Me Déconnecter
							</a>
						</li>
					{% else %}
						<li class="nav-item ">
							<a class="nav-link active" href="{{path('app_login')}}">Me Connecter
							</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link active" href="{{path('app_register')}}">M'inscrire
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<form class="d-flex">
				<button class="btn btn-outline-dark" type="submit">

					<a href="{{path('orders_index')}}">
						Panier</a>

					<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
				</button>
			</form>
		</div>
	</div>
</nav>
